.heading {
    text-align: center;
    color: black;
    font-size: 48px;
    padding: 20px;
    font-weight: 500;
    margin: 20px 0
}

@media (max-width: 768px) {
    .heading {
        font-size: 24px;
    }
}

@media (max-width: 375px) {
    .heading {
        font-size: 18px;
        padding: 10px;
        margin: 10px 0
    }
}